.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #211e1e;
    color: #fff;
    padding: 15px 25px;
    border-radius: 15px;
    cursor: pointer;
}

.btn:disabled{
    background: #afabab;
}